/*** FONTS ***/
/* Comfortaa by Johan Aakerlund (http://aajohan.deviantart.com)
 * Licensed under SIL Open Font License, Version 1.1
 */
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa');
    src: url('../fonts/Comfortaa.eot');
    src: url('../fonts/Comfortaa.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Comfortaa.woff2') format('woff2'),
         url('../fonts/Comfortaa.svg#font') format('svg'),
         url('../fonts/Comfortaa.ttf') format('truetype'),
         url('../fonts/Comfortaa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Design by Marien Fressinaud (http://marienfressinaud.fr)
 * Licensed under MIT license
 * Please note this code is quite dirty and would need to be cleaned!
 */

/*** GLOBAL ***/
* {
    box-sizing: border-box;
}

:root {
    --main-color: #321e14;
    --secondary-color: #067925;
    --contrast-color: #fafafa;
}

html,
body {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Comfortaa', sans-serif;
    font-size: 18px;
    line-height: 26px;
}
body {
    color: var(--main-color);
    background-color: var(--contrast-color);
}

@media(min-width: 40rem) {
    html {
        font-size: 20px;
        line-height: 30px;
    }
}

/* Links */
a {
    color: var(--secondary-color);
    text-decoration: none;
}

/* Typography */
h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;

    word-wrap: break-word;
}

h1 {
    margin-bottom: 1.75rem;
}

h1 { font-size: 2rem; line-height: 2.5rem; }
h2 { font-size: 1.4rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1.5rem; }

* + h1,
* + h2,
* + h3 {
    margin-top: 1.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}
p:last-child {
    margin-bottom: 0;
}

ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul:last-child,
ol:last-child,
dl:last-child {
    margin-bottom: 0;
}
p + ul,
p + ol,
p + dl,
p + table {
    margin-top: -.5rem;
}

/* Images */
img {
    height: auto;
    max-width: 100%;
}
img.illustration {
    display: block;
    margin: auto;
}
a img {
    border: none;
}

/* Row / block */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3rem;
}
.block {
    max-width: 100%;
    margin: 0 0 15px;

    flex: 1;
}
.block .text {
    padding-right: 1rem;
}
.block.centered {
    text-align: center;
}
.block.important {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 3rem 2rem;

    border-top: 4px solid var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color);
}
.block.illustrated {
    padding: 350px 0 0;

    border: 1px solid var(--main-color);
    border-radius: .5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.block.illustrated .text {
    padding: 2rem;

    font-weight: bold;

    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid var(--main-color);
    border-radius: 0 0 .5rem .5rem;
}

/*** STRUCTURE ***/
/* Container */
.container {
    padding-left: .5rem;
    padding-right: .5rem;
}

@media(min-width: 40rem) {
    .container {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Header */
header {
    background: url('../img/back01.png') var(--contrast-color);
    border-bottom: 2px solid var(--main-color);
}

header nav > ul {
    display: flex;
    padding: 1rem 0;

    list-style: none;

    flex-direction: column;
}

header .item {
    margin-bottom: .25rem;
}

header .item a {
    display: block;
    padding: .5rem .75rem;

    color: var(--main-color);
}
header .item.current a {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}
header .item a:hover {
    color: var(--secondary-color);
}

@media(min-width: 50rem) {
    header nav > ul {
        flex-direction: row;
        align-items: center;
    }

    header .item {
        margin-right: 1rem;
    }
}

/* Main column */
.main > .content {
    padding: 2rem 1rem;
}

@media(min-width: 50rem) {
    .main > .content {
        padding: 2rem 1rem;
    }
}

/* Product list */
.products {
    padding-left: 0;

    list-style: none;
}

.products .product a {
    display: flex;

    align-items: center;
}
.products .product.current a {
    color: var(--main-color);
    font-weight: bold;
}
.products .product-image {
    flex-shrink: 0;
}
.products .product-image img {
    max-height: 100%;

    border-radius: 3px;
    box-shadow: none;
}

.products {
    display: flex;
    margin-bottom: 5rem;

    flex-direction: column;
    align-items: stretch;
}
.products .product {
    margin-bottom: 1rem;
}
.products .product-image {
    height: 115px;
    padding: .5rem;
}

@media(min-width: 50rem) {
    .products {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .products .product {
        width: 30%;
        margin-right: 1%;
    }
}

.product-category::before {
    display: block;
    width: 50%;
    margin-top: 6rem;
    padding-top: 1rem;

    border-top: 4px solid var(--secondary-color);

    content: "";
}
.product-category .product-category-name {
    margin-bottom: 1.75rem;

    font-size: 1.3rem;
    line-height: 2.5rem;
}

@media(min-width: 50rem) {
    .product-category::before {
        width: 33%;
    }
}

.photos-slideshow {
    position: relative;
    z-index: 1;

    min-height: 350px;
    margin: -2rem -1rem 2rem;
    padding: 2rem 2rem 5rem;

    color: var(--contrast-color);

    background: center center no-repeat;
    background-size: cover;
    border-top: 2px solid var(--main-color);
    border-bottom: 4px solid var(--main-color);
}
.photos-slideshow::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    display: block;

    background-color: rgba(0, 0, 0, .6);

    content: "";
}
.photos-slideshow .container {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content .photos-slideshow img {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.photos-slideshow + .container {
    position: relative;
    z-index: 1;

    margin-top: -6.5rem;
    padding: 1rem 1rem 0;

    background: var(--contrast-color);
    border-top: 4px solid var(--main-color);
    border-radius: .5rem;
}

@media(min-width: 40rem) {
    .photos-slideshow {
        min-height: 450px;
        padding: 5rem;
    }

    .photos-slideshow .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .content .photos-slideshow img {
        max-width: 30%;
    }

    .content .photos-slideshow img + img {
        margin-left: 1%;
    }

    .photos-slideshow + .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/* Content */
.content img {
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--main-color);
}

/* Footer */
footer {
    padding-top: 3rem;
    padding-bottom: 3rem;

    color: var(--contrast-color);
    font-size: 0.9rem;

    background: #252020;
    box-shadow: 0 5px 10px #000 inset;

    clear: both;
}
footer a {
    color: #fff;
    text-decoration: underline;
}

footer .top {
    display: flex;
    margin-bottom: 3rem;

    justify-content: space-between;
}

footer .top .box {
    width: 30%;
    padding-left: .5rem;
    padding-right: .5rem;
}

footer .top .box .box-title {
    margin-bottom: 1rem;

    font-weight: bold;
    text-transform: uppercase;
}

footer .top #logo {
    text-align: center;

    align-self: center;
    flex-shrink: 0;
}

footer .top #follow ul {
    padding-left: 0;
    list-style: none;
}
footer .top #follow .item-mail a {
    display: block;

    font-size: .9rem;
    word-break: break-all;
}

footer #osm iframe {
    width: 100%;
    height: 350px;
    margin-bottom: 3rem;

    border: none;
    border-radius: 5px;
}

footer .bottom {
    text-align: center;
}
footer .bottom .item {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
}

/*** SPECIFIC ***/
/* Badges */
.item-mail, .item-tel, .item-address, .item-owner, .item-website, .item-more, .item-fb {
    margin-bottom: .5rem;
    padding-left: 25px;
    text-decoration: none;
}
.item-mail { background: url("../img/mail.png") no-repeat left 8px; }
.item-tel { background: url("../img/telephone.png") no-repeat left 8px; }
.item-address { background: url("../img/adresse.png") no-repeat left 8px; }
.item-owner { background: url("../img/proprio.png") no-repeat left 8px; }
.item-website { background: url("../img/website.png") no-repeat left 8px; }
.item-more { background: url("../img/info.png") no-repeat left 8px; }
.item-fb { background: url("../img/facebouk.png") no-repeat left 8px; }

/* Button up to the sky */
#up-to-the-sky {
    position: absolute;
    top: 0;
    right: 0;

    height: 100vh;
    width: 1px;
}

#up-to-the-sky button {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    padding: .5rem 1rem;

    opacity: 1;
    visibility: visible;

    transition: all 0.2s ease;

    color: var(--main-color);

    background-color: var(--contrast-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
}
#up-to-the-sky button::after {
    padding-left: .25rem;

    content: "👆";
}
#up-to-the-sky button:hover {
    color: var(--contrast-color);

    background-color: var(--main-color);
}
#up-to-the-sky.intersecting button {
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 40rem) {
    #up-to-the-sky button {
        right: 0;
        left: auto;
    }
}

/*** MEDIA-QUERIES ***/
@media (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: stretch;
    }

    .block.product-photo {
        max-width: 100%;
    }

    footer .top {
        flex-direction: column;
        align-items: center;
    }

    footer .top .box {
        width: 300px;
        max-width: 100%;
        margin: 0 0 50px;
    }
}
