{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block meta %}
            <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1.0" />
            <link rel="shortcut icon" id="favicon" type="image/x-icon" sizes="16x16 64x64" href="/favicon.ico" />
        {% endblock %}
        <title>{% block title %}Chocolaterie 1000 Cabosses{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{% static 'application/css/base.css' %}">
        {% endblock %}
        {% block javascript %}{% endblock %}
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>
            {% include "application/_header.html" %}
        </header>

        <div id="main" class="main" role="main">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% include "application/_footer.html" %}
        </footer>

        <div id="up-to-the-sky" class="intersecting">
            <button>Retourner en haut</button>
        </div>
        <script type="text/javascript" src="{% static 'application/js/up-to-the-sky.js' %}"></script>
    </body>
</html>
