{% load staticfiles simplify clean_url %}

<div class="container">
    <div class="top">
        <a class="box" href="{% url 'index' %}" id="logo">
            <img src="{% static 'application/img/logo256-inverse.png' %}" alt="" />
        </a>

        {% if links %}
        <div class="box" id="liens">
            <div class="box-title">Liens et partenaires</div>
            <ul>
                {% for link in links %}
                <li class="item"><a target="_blank" href="{{ link.url|clean_url }}">{{ link.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="box" id="follow">
            <div class="box-title">Contactez-moi</div>
            <ul>
                <li class="item item-mail"><a href="mailto:{{ contact.mail }}">{{ contact.mail }}</a></li>
                <li class="item item-tel">{{ contact.tel }}</li>
                <li class="item item-address">{{ contact.address|safe }}</li>
                <li class="item item-fb"><a target="_blank" href="{{ contact.facebook }}">Retrouvez-moi sur Facebook</a></li>
            </ul>
        </div>

    </div>

    <div id="osm">
        {{ contact.osm|safe }}
    </div>

    <ul class="bottom">
        <li class="item"><a href="{% url 'index' %}">Accueil</a></li>
        {% for page in pages_footer %}
        <li class="item">
            <a href="{% url 'page_details' page.id page.alias|simplify %}">{{ page.alias }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
