{% load staticfiles simplify %}

<div class="container">
    <div class="logo">
      <a href="{% url 'index' %}">
        <img src="{% static 'application/img/logo-header.png' %}" alt="" />
      </a>
    </div>
    <nav>
        <ul><!--
            {% for page in pages_header %}
            --><li class="item item-{{ page.alias|simplify }} {% if current_page.id == page.id %}current{% endif %}">
                <a href="{% url 'page_details' page.id page.alias|simplify %}">{{ page.alias }}</a>
            </li><!--
            {% endfor %}
        --></ul>
    </nav>
</div>
