{% load staticfiles simplify %}

<li class="product {% if product == current_product %}current{% endif %}">
    <a href="{% url 'product_details' product.id product.name|simplify %}">
        <div class="product-image">
            {% if product.image %}
                <img alt="" src="{{ product.image.url_150x150 }}" />
            {% elif current_season == "easter" %}
                <img alt="" src="{% static 'application/img/missing_image_easter.png' %}" />
            {% elif current_season == "halloween" %}
                <img alt="" src="{% static 'application/img/missing_image_halloween.png' %}" />
            {% elif current_season == "christmas" %}
                <img alt="" src="{% static 'application/img/missing_image_christmas.png' %}" />
            {% else %}
                <img alt="" src="{% static 'application/img/missing_image.png' %}" />
            {% endif %}
        </div>
        <span class="product-name">
            {{ product }}
        </span>
    </a>
</li>
