{% load simplify %}

{% if category.product_set.all|length > 0 %}
    <div class="product-category">
        <div class="product-category-name">
            Les autres « {{ category }} »
            (<a href="{% url 'page_details' current_page.id current_page.alias|simplify %}">voir tous mes produits</a>)
        </div>

        <ul class="products">
            {% for product in category.product_set.all %}
                {% include "application/_product.html" %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
