{% for category in product_categories %}
    {% if category.product_set.all|length > 0 %}
        <h2>{{ category }}</h2>
        <ul class="products">
            {% for product in category.product_set.all %}
                {% include "application/_product.html" %}
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
